In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.1.4'

In [29]:
df = pd.read_csv('green_tripdata_2019-09.csv')

/tmp/ipykernel_20257/3716745654.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('green_tripdata_2019-09.csv')

In [5]:
# df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
# df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [6]:
from sqlalchemy import create_engine

In [9]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [30]:
print(pd.io.sql.get_schema(df, name='green_taxi_data', con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" FLOAT(53),
	lpep_pickup_datetime TEXT,
	lpep_dropoff_datetime TEXT,
	store_and_fwd_flag TEXT,
	"RatecodeID" FLOAT(53),
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type FLOAT(53),
	trip_type FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [31]:
df_iter = pd.read_csv('green_tripdata_2019-09.csv', iterator=True)

In [32]:
df = next(df_iter)

/tmp/ipykernel_20257/4178490087.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

In [33]:
len(df)

449063

In [34]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [25]:
df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
200000,2,2019-09-16 15:01:00,2019-09-16 15:01:00,N,5,264,264,1,0.00,5.0,0.0,0.0,0.00,0.0,NaN,0.0,5.00,1,1,0.0
200001,2,2019-09-16 15:07:36,2019-09-16 15:08:03,N,1,193,193,1,0.00,2.5,0.0,0.5,0.00,0.0,NaN,0.3,3.30,2,1,0.0
200002,2,2019-09-16 15:09:14,2019-09-16 15:09:49,N,1,193,193,1,0.00,2.5,0.0,0.5,0.66,0.0,NaN,0.3,3.96,1,1,0.0
200003,1,2019-09-16 15:19:54,2019-09-16 15:21:59,N,1,244,244,1,0.10,3.5,0.0,0.5,0.00,0.0,NaN,0.3,4.30,3,1,0.0
200004,1,2019-09-16 15:41:14,2019-09-16 15:47:26,N,1,152,41,1,1.00,6.0,0.0,0.5,0.00,0.0,NaN,0.3,6.80,2,1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299995,2,2019-09-23 23:41:56,2019-09-24 00:02:31,N,1,42,212,2,5.45,18.5,0.5,0.5,0.00,0.0,NaN,0.3,19.80,2,1,0.0
299996,2,2019-09-23 23:11:43,2019-09-23 23:18:19,N,1,74,41,1,1.13,6.5,0.5,0.5,1.56,0.0,NaN,0.3,9.36,1,1,0.0
299997,2,2019-09-23 23:35:18,2019-09-23 23:37:29,N,1,75,75,1,0.49,4.0,0.5,0.5,0.00,0.0,NaN,0.3,5.30,2,1,0.0
299998,2,2019-09-23 23:19:26,2019-09-23 23:24:49,N,1,41,238,1,1.36,6.5,0.5,0.5,1.50,0.0,NaN,0.3,9.30,1,1,0.0
299999,2,2019-09-23 23:27:48,2019-09-23 23:38:41,N,1,129,7,1,1.39,9.0,0.5,0.5,0.00,0.0,NaN,0.3,10.30,2,1,0.0

In [35]:
df.head(n=0).to_sql(name='green_taxi_data', con=engine, if_exists='replace')

0

In [36]:
%time df.to_sql(name='green_taxi_data', con=engine, if_exists='append')

CPU times: user 34.6 s, sys: 408 ms, total: 35.1 s
Wall time: 50.6 s

63

In [18]:
from time import time

In [27]:
while True: 
    t_start = time()

    df = next(df_iter)

    df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
    
    df.to_sql(name='green_taxi_data', con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk, took %.3f second' % (t_end - t_start))

/tmp/ipykernel_20257/1406748514.py:4: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk, took 11.279 second
inserted another chunk, took 4.979 second

StopIteration:

In [28]:
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

--2024-01-29 22:10:44--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.217.98.38, 52.217.162.208, 52.217.124.136, ...
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.217.98.38|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi+_zone_lookup.csv.1’

taxi+_zone_lookup.c 100%[===================>]  12.03K  --.-KB/s    in 0.006s

2024-01-29 22:10:45 (1.97 MB/s) - ‘taxi+_zone_lookup.csv.1’ saved [12322/12322]

In [37]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')

In [38]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [39]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265